body {
	text-align: center;
    color: #efefef;
    background-color: #141414;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;

}

.grid-containerSite {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;


}

.grid-item {
    align-self: center;
    justify-self: center;
    
}


h1 {
    font-family: 'Bangers', cursive;
    font-weight: 900;
    font-size: 3rem;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: #efefef;
    text-decoration: none;
}

.notes {
    font-size: .9rem
}

.nade-title {
    font-size: 1.7rem;
}